@model IEnumerable<QuanLyKho.Models.Entities.NhomHang>

@foreach (var item in Model)
{
    {
        <label class="checkbox-inline">
            <input type="checkbox">@item.TenNH
        </label><br />
    }
}

