@model IEnumerable<QuanLyKho.Models.Entities.HinhAnh>

@{
    ViewBag.Title = "Index";
   
}


@foreach (var item in Model) { 
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="thumbnail">
                <img src="@Url.Content(( string.IsNullOrEmpty(item.PathFile) ) ? item.PathFile : "~/Content/image/noimage.png")" alt=@item.TenIMG />
                <div class="caption">
                    <h4 class="pull-right">@item.HangHoa.GiaBan</h4>
                </div>
                <div class="add-cart">
                    <h4> 
                    <a href="@Url.Action("AddCart","Cart", new { id = item.MaHH, soluong = 1, donGia=item.HangHoa.GiaBan,area= "Sale" })" >Them</a>
                    </h4>
                </div>

            </div>
        </div>

    </div>
}



